<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지진 앱 시스템</title>
    <link rel="stylesheet" href="/css/jijinapp.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a class="logo" href="/main.html">Stellar Whispers</a>
        <nav>
          <button class="btn-menu">Menu</button>
          <ul class="main-nav">
            <li><a href="https://github.com/ppareu">GitHub</a></li>
            <li><a href="#" id="introduce-link">introduce</a></li>
          </ul>
        </nav>
      </div>
      <div class="video-wrapper">
        <video autoplay muted loop id="background-video">
          <source src="/images/space-video.mp4" type="video/mp4" />
        </video>
      </div>
    </header>
    <div class="card-container">
      <div class="card">
        <div class="card-front">지진 앱 PROJECT</div>
        <div class="card-back">
          <div class="img-grid">
            <img src="/images/ad1.png" />
            <img src="/images/ad2.png" />
            <img src="/images/ad3.png" />
            <img src="/images/ad4.png" />
            <img src="/images/ad5.png" />
            <img src="/images/ad6.png" />
          </div>
          <video autoplay muted loop>
            <source src="/images/jijinapp.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    <script src="/js/ad.js"></script>
  </body>
</html>
