<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/aquarium.css" />
    <title>아쿠아리움 프로젝트</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="/main.html">Aquarium Project</a>
        </div>
        <ul class="nav-links">
          <li><a href="/main.html">Home</a></li>
          <li><a href="https://github.com/ppareu">GitHub</a></li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="card" id="feed-system">
          <div class="content">
            <div class="imgBx">
              <img src="/images/study.jpg" alt="Feed System" />
            </div>
            <div class="contentBx">
              <h3>FEED SYSTEM<br /><span>먹이 공급 시스템</span></h3>
            </div>
          </div>
          <ul class="sci">
            <li><a href="#features-feed">FEATURES</a></li>
            <li><a href="#code-feed">CODE</a></li>
            <li><a href="#item-feed">ITEM</a></li>
          </ul>
        </div>
        <div class="card" id="sensors-system">
          <div class="content">
            <div class="imgBx">
              <img src="/images/study.jpg" alt="Sensors System" />
            </div>
            <div class="contentBx">
              <h3>
                SENSORS SYSTEM<br /><span>온도, pH센서, 수위 조절 시스템</span>
              </h3>
            </div>
          </div>
          <ul class="sci">
            <li><a href="#features-sensors">FEATURES</a></li>
            <li><a href="#code-sensors">CODE</a></li>
            <li><a href="#item-sensors">ITEM</a></li>
          </ul>
        </div>
        <div class="card" id="live-monitoring">
          <div class="content">
            <div class="imgBx">
              <img src="/images/study.jpg" alt="Live Monitoring" />
            </div>
            <div class="contentBx">
              <h3>LIVE MONITORING<br /><span>실시간 화면 송출</span></h3>
            </div>
          </div>
          <ul class="sci">
            <li><a href="#features-monitoring">FEATURES</a></li>
            <li><a href="#code-monitoring">CODE</a></li>
            <li><a href="#item-monitoring">ITEM</a></li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
